/* CONTACT */

.contact-heading {
    font-size: 62px;
    font-weight: bold;
}

.contact-para {
    font-size: 18px;
    letter-spacing: 4px;
    margin-top: 10px;
}

.card-row-1,
.card-row-2 {
    padding: 30px 50px;
}

.custom-card {
    padding: 0px 15px;
    border: none !important;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 30px 0px !important;
}

.card-circle {
    width: 100px;
    height: 100px;
    background-color: #3E64FF;
    border-radius: 50%;
    margin: 10px auto;
    position: relative;
}

.card-circle-icon {
    font-size: 34px;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-heading {
    font-weight: bold;
    font-size: 20px;
}

.card-para {
    color: #666666;
    margin: 15px auto 0px auto;
}

.card-link {
    text-decoration: none;
}

.contact-image {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)),
        url('../assets/emailcontact.jpg');
    background-position: center;
    background-size: cover;
}

.contact-form-div {
    background-color: #F8F9FA;
    padding: 50px !important;
    font-family: Roboto, sans-serif;
}

#custom-input1,
#custom-input2,
#custom-input3 {
    color: #666666;
    letter-spacing: 2px;
    padding: 12px 15px;
}

#custom-textarea {
    color: #666666;
    letter-spacing: 2px;
    padding: 12px 0px 0px 15px;
}

#contact-custom-button {
    background-color: #3E64FF;
    color: #FFFFFF;
    padding: 16px 60px;
    border-radius: 50px;
}

@media (max-width: 600px) {
    .contact-heading {
        font-size: 48px;
    }

    .contact-para {
        font-size: 14px;
        margin-top: 6px;
    }

    .card-row-2 {
        padding: 20px 15px;
    }

    .contact-form-div {
        padding: 20px !important;
    }

    #contact-custom-button {
        padding: 8px 30px;
    }

    .form-button {
        text-align: center;
    }
}

@media (max-width: 426px) {
    .contact-heading {
        font-size: 32px;
    }

    .contact-para {
        font-size: 12px;
        letter-spacing: 2;
    }

    .card-row-1,
    .card-row-2 {
        padding: 20px 15px;
    }

    #custom-input1,
    #custom-input2,
    #custom-input3 {
        font-size: 12px;
        padding: 8px 12px;
    }

    #custom-textarea {
        font-size: 12px;
        padding: 8px 0px 0px 12px;
    }

    #contact-custom-button {
        font-size: 12px;
        padding: 8px 20px;
    }
}