/* SECTION NO 7 */

.section-7 {
    padding: 170px 0px 170px 0px;
    background-image: url('../assets/footer-img.jpg');
    background-position: top;
    background-size: cover;
    position: relative;
}

.section-7::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.section-7-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 65%;
    padding-top: 100px;
}

.section-7-text {
    font-size: 24px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #FFFFFF;
}

.section-7-icons {
    font-size: 42px;
    margin-top: 30px;
}

.social-icons {
    color: #FFFFFF;
}

.social-icons:hover {
    color: #C5C5C5;
}

.social-icons:not(:last-child) {
    margin-right: 15px;
}

@media (max-width: 768px) {
    .section-7-inner {
        width: 75%;
    }

    .section-7-text {
        font-size: 20px;
    }

    .section-7-icons {
        font-size: 32px;
    }
}

@media (max-width: 426px) {
    .section-7 {
        padding: 140px 0px 140px 0px;
    }

    .section-7-inner {
        width: 85%;
        padding-top: 70px;
    }

    .section-7-text {
        font-size: 16px;
    }

    .section-7-icons {
        font-size: 22px;
        margin-top: 20px;
    }
}

@media (max-width: 320px) {
    .section-7 {
        padding: 130px 0px;
    }

    .section-7-inner {
        width: 90%;
        padding-top: 60px;
    }
}

/* FOOTER */

.footer {
    padding: 50px 50px 30px 50px !important;
    background-color: #000000;
}

.section-footer-inner {
    color: #FFFFFF;
}

@media (max-width: 426px) {
    .footer {
        padding: 30px 30px 20px 30px !important;
    }

    .footer-text {
        font-size: 12px;
    }
}