@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap');


/* MAIN */

.main {
  font-family: 'Roboto Slab', serif;
  background-color: #FFFFFF;
  font-size: 16px;
}

